.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  gap: 3rem 2.5rem;
  margin: 0 0 5rem;
}

.place:last-child {
  margin-bottom: 0;
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(288px, 1fr);
    grid-gap: 32px;
  }
}
