.popup__title {
  font-family: 'Inter', Arial, sans-serif;
  align-self: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: calc(100 / 96);
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
