.popup__text {
  margin: 0 16px 64px 16px;
  max-width: 640px;
  font-family: 'Inter', Arial, sans-serif;
  align-self: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(36 / 30);
  letter-spacing: 0em;
  text-align: left;
  margin: 15px;
}
